<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Github -->
  <li class="navigation__item">
    <a href="http://github.com/{{ site.author.github }}" title="Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/{{ site.author.weibo }}" title="Weibo" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Instagram -->
  <li class="navigation__item">
    <a href="http://www.instagram.com/{{ site.author.instagram }}" title="Instagram" target="_blank">
      <i class='social fa fa-instagram'></i>
      <span class="label">Instagram</span>
    </a>
  </li>
  
  <!-- QQ -->
  <li class="navigation__item">
     <a href="mqqwpa://im/chat?chat_type=wpa&uin=337047207&version=1&src_type=web" title="QQ" target="_blank">
	 <i class='social fa fa-qq'></i>
      <span class="label">QQ</span></a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:{{ site.author.email }}" title="zhoulifeng520@gmail.com">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>